[package]
name = "pynexrad"
version = "0.0.13"
edition = "2021"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "pynexrad"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.19.0"
chrono = "0.4"
tokio = { version = "1", features = ["rt-multi-thread"] }
nexrad = { version = "0.0.3", features = ["download"] }

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
nannou = "0.19.0"
image = "0.25.1"
