name: Verify

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  PYTHON_VERSION: '3.12'

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v4

    - name: Install rustfmt
      run: rustup component add rustfmt

    - name: Check formatting
      run: cargo fmt --check
  integration-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}
        cache: 'pip'
        cache-dependency-path: |
          requirements-dev.txt
    - name: Create and activate virtual environment
      run: |
        python -m venv .venv
        source .venv/bin/activate
    - name: Install dependencies
      run: pip install -r requirements-dev.txt
    - name: Build pynexrad
      run: maturin develop
    - name: Run tests
      run: python test/pynexrad_integration.py
